:root {
  --color-primary-cyan: hsl(179, 62%, 43%);
  --color-primary-bright-yellow: hsl(71, 73%, 54%);
  --color-neutral-light-gray: hsl(204, 43%, 93%);
  --color-neutral-grayish-blue: hsl(218, 22%, 67%);
}

$bp-small: 39.75em; //bp at 636px
$bp-smallest: 32em; //bp at 512px

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Karla", sans-serif;
  font-size: 1.6rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--color-neutral-light-gray);
}

a,
a:visited,
a:link {
  text-decoration: none;
}
